<!-- <%- include ('../partials/navbar') %> -->
<div class="container">
  <% reminders.forEach(reminder => { %>
  <div class="card text-bg-primary mb-3 mt-3" style="max-width: 18rem;">
    <div class="card-header"><strong><%= reminder.title %></strong></div>
    <div class="card-body">
      <h5 class="card-title"><%= reminder.description %></h5>
      <p class="card-text"><%= reminder.details %></p>
      <span>Completed:</span>
      <% if(reminder.completed == true) { %>
        <span class="badge badge-success">True</span>
      <% } else if (reminder.completed == false) { %>
        <span class="badge badge-danger">False</span>
      <% } %>  
      <a class="btn btn-primary d-block mt-3" href=<%= "/reminder/" + user.id %>>View</a>
    </div>
  </div>
  <% }) %>

</div>
