<div class="card text-bg-primary mb-3 mt-3 mx-auto" style="max-width: 18rem;">
	<div class="card-header"><strong>
			<%= reminder.title %>
		</strong></div>
	<div class="card-body">
		<h5 class="card-title">
			<%= reminder.description %>
		</h5>
		<p class="card-text">
			<%= reminder.details %>
		</p>
		<span>Completed:</span>
		<% if(reminder.completed==true) { %>
			<span class="badge badge-success">True</span>
			<% } else if (reminder.completed==false) { %>
				<span class="badge badge-danger">False</span>
				<% } %>
					<div class="d-flex justify-content-between mt-3">
						<a class="btn btn-primary" href=<%="/reminder/" + reminder.id + "/edit" %>>Edit</a>
						<a class="btn btn-primary" href=<%="/reminder/" + reminder.id + "/delete" %>>Delete</a>
					</div>
				</div>
			</div>

